# ignore system files
.DS_Store
thumbs.db
__MACOSX
._*

#ignore everything but the index.html
/application/files/*
!/application/files/index.html

# ignore sitemap.xml
sitemap.xml

# Ignore Webhook log
hook.php
hook.log